Palencia {
    margin: 10px;
    background-color: grey;
    font-family: verdana, helvetica, sans-serif;
    text-align: center;
    border: 2px solid blue;
    outline: 4px solid red;
    margin: 70px;
  }
Habitantes {
    margin-bottom: 10%;
    color:blue;
    font-size: 25px;
  }
Comunidad {
    margin-bottom: 10%;
    color:blueviolet;
    font-size: 25px;
}
Bares {
    color:Red;
    display: block;
    margin: 70px;
}
Bar {
    display: block;
    margin:30px;
    border: 2px solid yellow;
    outline: 4px solid red;
}
Ocio {
    color:yellow;
    display:block;
}