<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Examen Segunda evaluación</title>
</head>

<body>
    <div id="app" class="container">
        <div v-for="series in jsonObject" class="alert alert-info" role="alert">
            <h1>Nombre: {{series.show.name}}</h1>
            <h2>ID: {{series.show.id}}</h2>
            <h3>Tipo: {{series.show.type}}</h3>
            <h3>Idioma :{{series.show.language}}</h3>
            <h4>Puntuacion de la serie: {{series.score}}</h4>
            <p v-if="series.show.runtime > 40"><small style="background-color: cyan;">Runtime: {{series.show.runtime}}</small></p>
            <p v-else><small style="background-color: red;">Runtime: {{series.show.runtime}}</small></p>
            <ol>
                <li v-for="genero in series.show.genres">{{genero}}</li>
            </ol>
            <a :href="series.show.url">Enlace</a>
        </div>
    </div>
</body>


<script>

    const App = new Vue({
        el: '#app',
        data: {
            jsonObject: {}
        },
        methods: {
            init() {
                fetch("http://api.tvmaze.com/search/shows?q=sports")
                    .then(response => response.json())
                    .then(data => (this.jsonObject = data));
            }
        },
        mounted() {
            this.init()
        }
    })
</script>

</html>