palabras{
    text-align: center;
    font-size: xx-large;
    
}
palabra1{
    border: black 5px solid;
    margin:1%;
    float: left;    
}
palabra2{
    border: black 5px solid;
    margin:1%;
    float: left;
}
palabra3{
    border: black 5px solid;
    margin:1%;
    float: left;
}
espanol{
 border: red 5px solid;
 display: block;
 margin-top: 2%;
 margin-left: 2%;
 margin-right: 2%;
 margin-bottom: 2%;
}
frances{
    border: blue 5px solid;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
ingles{
    border: green 5px solid;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
espanol::first-letter{
    color: red;
}